@mixin montserrat($size, $color) {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: $size;
	color: $color;
}

@mixin open-sans($weight, $size, $color) {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: $weight;
	font-size: $size;
	color: $color;
}